
  <h2>{{title}}</h2>
  
  <p>{{description}}</p>
  <p>Created by {{user.name}} on {{format_date date_created}}</p>


<h2>Comments</h2>
  {{#each comments as |comment| }}
  
  <div class="form-group">
     {{comment.description}}
     
     -{{user.name}}, {{format_date date_created}}
  </div>
  {{/each}}



{{#if logged_in}}
<div class="col-md-6">
    <h3>Leave a Comment:</h3>

    <form class="form new-comment-form">
     
    
      <div class="form-group">
       
        <textarea class="form-input" id="blog-comment" name="blog-comment"></textarea>
        <input type="hidden" id="blogId" name="blogId" value="{{id}}"">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </form>
  </div>
  {{/if}}

  <script src="/js/comment.js"></script>
