<!-- Loop over each object in the projects array -->
{{#each blogs as |blog| }}
<div class="row mb-4 project">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
     <i class="far fa-newspaper"></i>
      <a href="/blog/{{blog.id}}">{{blog.title}}</a>
    </h2>
    
    <p>Created by <span class="badge badge-info">{{blog.user.name}} on {{format_date blog.date_created}}</span></p>
  </div>
  <div class="col-md-7">
    <p>
      {{blog.description}}
    </p>
  </div>
</div>
{{/each}}
